<section class="thirteen columns">
    <h1>About Me</h1>
    <article>
        <p>I am a graduate student in the <a href="http://robot.hit.edu.cn/main.htm"><font color="#40798C">State Key Laboratory of Robotics and System</font></a>, <a href="http://www.hit.edu.cn/"><font color="#40798C">Harbin Institue of Technology (HIT)</font></a>.
        I am currently working with Pro.Fusheng Zha and his research group. My research topics include Visual SLAM, 3D Reconstruction and State Estimation for Mobile Robots. I sincerely hope that my research work can improve the lives of ordinary people, even if only a little bit.</p>
    </article>
</section>