<section class="thirteen columns">
    <h1>Publications</h1>

    <article>
        <header>
            <h1>Row Anchor Selection Classification Method for Early Stage Crop Row Following Illustrated with an Example of Corn</h1>
            <span>Longzhe Quan, Chunyu Wei, Hailong Li, Huaiqu Feng, Bing Wu, <font color="#40798C"><u>Junyi Shi</u></font></span>
        </header>
        <p>
            <em>(Under review)</em>
        </p>
        <p><a href="">
            <em><font color="#061b38">[Paper]</font></em>
        </a></p>
    </article> 
    
    <article>
        <header>
            <h1>A Survey of Visual-Inertial SLAM for Mobile Robots</h1>
            <span><font color="#40798C"><u>Junyi Shi</u></font>, Fusheng Zha, Lining Sun, Wei Guo, Pengfei Wang, Mantian Li</span>
        </header>
        <p>
            <em>Jiqiren/Robot (In press)</em>
        </p>
        <p><a href="https://kns.cnki.net/KCMS/detail/21.1137.TP.20200707.1046.001.html">
            <em><font color="#061b38">[Paper]</font></em>
        </a></p>
    </article>  
    
    
    <article>
        <header>
            <h1>Dynamic Visual SLAM Based on Semantic Information and Multi-View Geometry</h1>
            <span><font color="#40798C"><u>Junyi Shi</u></font>, Fusheng Zha, Wei Guo, Pengfei Wang, Mantian Li</span>
        </header>
        <p>
            <em>2020 5th International Conference on Automation, Control and Robotics Engineering (CACRE) (In press)</em>
        </p>
        <p><a href="">
            <em><font color="#061b38">[Paper]</font></em>
        </a></p>
    </article>    
    
    <article>
        <header>
            <h1>A Free Gait Controller Designed for a Heavy Load Hexapod Robot</h1>
            <span>Fusheng Zha, Chen Chen, Wei Guo, Penglong Zheng, <font color="#40798C"><u>Junyi Shi</u></font></span>
        </header>
        <p>
            <em>Advances in Mechanical Engineering 11(3), 1687814019838369, 2019</em>
        </p>
        <p><a href="https://journals.sagepub.com/doi/pdf/10.1177/1687814019838369">
            <em><font color="#061b38">[Paper]</font></em>
        </a></p>
    </article>    
    
    <article>
        <header>
            <h1>Stair-Climbing Auxiliary Device With Self-Adaption</h1>
            <span>Jingxuan Li, <font color="#40798C"><u>Junyi Shi</u></font>, Fusheng Zha</b></span>
        </header>
        <p>
            <em>2018 3rd International Conference on Advanced Robotics and Mechatronics (ICARM)</em>
        </p>
        <p><a href="https://ieeexplore.ieee.org/abstract/document/8610721/">
            <em><font color="#061b38">[Paper]</font></em>
        </a></p>
    </article>  
    
</section>
