<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <header>
            <h1>A Survey of Visual-Inertial SLAM for Mobile Robots</h1>
            <span><b>Junyi Shi</b>, Fusheng Zha, Lining Sun, Wei Guo, Pengfei Wang, Mantian Li</span>
        </header>
        <p>
            <em>Jiqiren/Robot(Accepted)</em>
        </p>
        <p><a href="">
            <em><font color="#061b38">[Paper]</font></em>
        </a></p>
    </article>  
    
    
    <article>
        <header>
            <h1>Dynamic Visual SLAM Based on Semantic Information and Multi-View Geometry</h1>
            <span><b>Junyi Shi</b>, Fusheng Zha, Wei Guo, Pengfei Wang, Mantian Li</span>
        </header>
        <p>
            <em>2020 5th International Conference on Automation, Control and Robotics Engineering (CACRE)</em>
        </p>
        <p><a href="">
            <em><font color="#061b38">[Paper]</font></em>
        </a></p>
    </article>    
    
    <article>
        <header>
            <h1>A Free Gait Controller Designed for a Heavy Load Hexapod Robot</h1>
            <span>Fusheng Zha, Chen Chen, Wei Guo, Penglong Zheng, <b>Junyi Shi</b></span>
        </header>
        <p>
            <em>Advances in Mechanical Engineering 11(3), 1687814019838369, 2019</em>
        </p>
        <p><a href="https://journals.sagepub.com/doi/pdf/10.1177/1687814019838369">
            <em><font color="#061b38">[Paper]</font></em>
        </a></p>
    </article>    
    
    <article>
        <header>
            <h1>Stair-Climbing Auxiliary Device With Self-Adaption</h1>
            <span>Jingxuan Li, Junyi Shi, Fusheng Zha</b></span>
        </header>
        <p>
            <em>2018 3rd International Conference on Advanced Robotics and Mechatronics (ICARM)</em>
        </p>
        <p><a href="https://ieeexplore.ieee.org/abstract/document/8610721/">
            <em><font color="#061b38">[Paper]</font></em>
        </a></p>
    </article>  
    
</section>
